/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */
.mission {
  text-align: center;
  background-color: #d0cdca8d;
  border-radius: 5%;
}

h4 {
  color: whitesmoke;
}

.container {
  background-image: url("../../../public/images/Jerry-Snyder-copy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 90%;
  background-position-x: 40%;
  background-position-y: -24px;
  padding: 5%;
  margin: 0;
}

.donate-btn {
  text-decoration: none;
  background-color: #0756B1;
  color: #F8F3F5;
  border-radius: 5%;
  padding: 1%;
  margin: 5%;
}

.donate-btn:hover {
  background-color: #4EC4DE;
  cursor: pointer;
}

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  padding: 0;
  margin: 6% 0 0 5%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 60.66666667%;
  max-width: 60.66666667%;
  color: whitesmoke;
  margin: 10% -2% 0 -2%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}