.comments {
    list-style-type: none;
}

.float-Container {
    display: flex;
    background-color: #D0CDCA;
    width: 80%;
    margin: 4%;
    padding: 3%;
    box-shadow: 10px 5px 5px black;
    font-size: 18px;
}

h3 {
    height: 30px;
    margin: 0;
    display: block;
    padding-top: 0px;
}

.float-infoLeft {
    margin: 4% 1% 1% -5%;
    width: 17%;
    flex: 1;
}

.float-infoRight {
    margin: 4% 0.5% 0 1%;
    width: 43%;
    float: right;
}

.comments {
    margin: 4% 0 0 -3%;
    width: 50%;
}

.input-comment {
    margin: 0 0 0 8%;
    width: 50%;
}

.input-ok {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ok-btn {
    margin: 1%;
}

.ok-btn:hover {
    cursor: pointer;
}

.vote {
    margin: 12% 0 0 1%;
    width: 50%;
    text-align: center;
}

.vote-btn {
    display: flex;
    align-items: center;
}

.vote-btn:hover {
    cursor: pointer;
}

.yes:hover {
    background-color: whitesmoke;
}

.no:hover {
    background-color: whitesmoke;
}