.contactInfo{
    color: black;
    margin: 2%;
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #F8F3F5;
}

button {
    background-color: #0756B1;
    color: #F8F3F5;
}