.table-style {
    display: flex;
}

.table {
    padding: 1%;
    margin: 1%;
    width: 100%;
}

.edit-btn {
    height: 60px;
    width: 50px;
    border: none;
    background-color: #f7f4f1;
    color: black;
}

.delete-btn {
    height: 60px;
    width: 50px;
    border: none;
    background-color: #f7f4f1;
    color: black;
}

.edit-btn:hover {
    background-color: #D0CDCA;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #D0CDCA;
    cursor: pointer;
}