.donate-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.donate-btn-page {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    background-color: #0756B1;
}