.nav {
  background-image: url("../../../public/images/Jerry-Snyder-copy.jpeg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -24px;
  margin: 0;
  padding: 0;
  background-color: #1d1d24;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  text-align: right;
  margin: 0;
  padding: 50px 0px 70px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #19191f;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #4a4a55;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  padding: 60px 0px 0px;
}