.donate-btn-accordion {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    background-color: #0756B1;
    color: #F8F3F5;
}

.accordionBackground {
    width: 80%;
    margin: auto;
}

.linkColor {
    color: blue;
    text-decoration: underline;
}

.about-container {
    background-image: url("../../../public/images/Jerry-Snyder-copy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 90%;
    background-position-x: 40%;
    background-position-y: -24px;
    padding: 5%;
    margin: 0;
}

.info {
    padding: 1%;
    margin: 1%;
    background-color: #d0cdcaaf;
    border-radius: 5%;
    font-size: 22px;
}

.donate {
    margin-left: 48%;
}